section.footer
  .box-container
    .box
      h3 Location
      a(href='#') india
      a(href='#') japan
      a(href='#') rusia
      a(href='#') USA
      a(href='#') france
    .box
      h3 quick links
      a(href='#') home
      a(href='#') dishes
      a(href='#') about
      a(href='#') menu
      a(href='#') review
      a(href='#') order
    .box
      h3 contact info
      a(href='#') +123-456-789
      a(href='#') +123-456-789
      a(href='#') abc@gmail.com
    .box
      h3 folow us
      a(href='#') facebook
      a(href='#') twitter
      a(href='#') instagram
  .credit
    | copyright @ 2021 by 
    span mr. Hiep