header
  a.logo(href='#')
    i.fas.fa-utensils
    | resto.
  nav.navbar
    a.active(href='#home') home
    a(href='#dishes') dishes
    a(href='#about') about
    a(href='#menu') menu
    a(href='#review') review
    a(href='#order') order
  .icons
    i#menu-bars.fas.fa-bars
    i#search-icon.fas.fa-search
    a.fas.fa-heart(href='#')
    a.fas.fa-shopping-cart(href='#')