
mixin filter-status(filterStatus)
    .inner-status
        each item in filterStatus
            button(
                class = `btn-status ${item.class}`
                button-status = item.status
            ) #{item.name}