
mixin form-change-multi(path)

    form(
        action= path 
        method = "POST"
        form-change-multi
    ) 

        .container-change-multi-prouduct
            .form-group
                select(name = "type" class="input-search")
                    option(disabled selected) ---Chọn hành động--- 
                    option(value="active") Hoạt động
                    option(value="inactive") Dừng hoạt động 
                    option(value="delete-all") Xóa tất cả
                    option(value="change-position") Cập nhật vị trí
            .form-group 
                input(
                    type="text"
                    name = "ids"
                    value = ""
                    class = "input-search d-none"
                )
            button(type = "submit" class="btn-submit") Áp dụng
